{% extends "base.html" %}

{% block title %}Min Handleliste{% endblock %}

{% block content %}
    {% if not innlogget %}
        <h1>Logg inn for å se handlelisten</h1>

        {% if login_error %}
            <p style="color:red;">{{ login_error }}</p>
        {% endif %}

        <form method="POST">
            <input name="bruker" placeholder="Brukernavn" required>
            <input name="passord" type="password" placeholder="Passord" required>
            <button>Logg inn</button>
        </form>
    {% else %}
        <h1>Min Handleliste</h1>
        <p>Hei {{ session['bruker_navn'] }} </p>

        <form method="POST">
            <input name="vare" placeholder="Ny vare" required>
            <button>Legg til</button>
        </form>

        <ul>
          {% for v in varer %}
            <li>{{ v.vare }}</li>
          {% endfor %}
        </ul>

        <a href="/logout">Logg ut</a>
    {% endif %}
{% endblock %}

