{% extends "base.html" %}

{% block title %}Handleliste - Hjem{% endblock %}

{% block banner %}
<div class="banner">
    <h1>Velkommen til din handleliste!</h1>
</div>
{% endblock %}

{% block content %}
    <h1>Gjør handleturen enklere</h1>
    <h3>
        Denne nettsiden lar deg lage din egen handleliste, <br>
        sortere varer i kategorier og krysse av det du har kjøpt. <br>
        Slik får du full oversikt, både hjemme og i butikken.
    </h3>
    <div class="auth-links">
        <a href="{{ url_for('login') }}" class="btn">Logg inn</a>
        <a href="{{ url_for('register') }}" class="btn">Registrer</a>
    </div>
{% endblock %}
