<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handleliste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="nav-brand {% if active_page == 'index' %}active{% endif %}">Velkommen til din Handleliste</a>
        <div class="nav-right">
            <a href="{{ url_for('handleliste') }}" class="nav-link {% if active_page == 'handleliste' %}active{% endif %}">Handleliste</a>
            <a href="{{ url_for('kategorier') }}" class="nav-link {% if active_page == 'kategorier' %}active{% endif %}">Kategorier</a>
        </div>
    </nav>

    <div class="banner">
    <h1>Velkommen til din handleliste!</h1>
    </div>
    <div class="container">
        <h1>Gjør handleturen enklere</h1>
    <h3>
    Denne nettsiden lar deg lage din egen handleliste, <br>
    sortere varer i kategorier og krysse av det du har kjøpt. <br>
    Slik får du full oversikt, både hjemme og i butikken.
    </h3>

    <footer class="footer">
        <p>&copy; 2026 Handleliste. Laget av Ludvig M.E</p>
    </footer>
</body>
</html>
